<%-include("../partials/header.ejs")%>
<div class="wrap_container cursor-light">
    <div class="main_container">
        <div class="side_nav">
            <div class="my-sticky-nav">
                <div class="side_menu">
                    <div id="my_tog" class="my_tog link" onmouseover="my_click();">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div>
                    </div>
                    <!-- Sticky Nav -->
                    <nav class="side-nav-menu">
                        <ul class="nav-menu nav-fill" id="menu">
                            <li class="nav-item">
                                <a data-menuanchor="home-banner" class="nav-link link active line"  href="/manager">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a data-menuanchor="all-products" class="nav-link link line" href="/manager/addproducts">Add Products</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a data-menuanchor="reviews" class="nav-link link line" href="/admin/purchaseorder">Purchase  Details</a>
                            </li> -->
                            <li class="nav-item">
                              <a data-menuanchor="reviews" class="nav-link link line" href="/manager/supdetails">Supplier Details</a>
                          </li>
                          <li class="nav-item">
                            <a data-menuanchor="reviews" class="nav-link link line" href="/manager/proddetails">Product Details</a>
                        </li>
                        <li class="nav-item">
                          <a data-menuanchor="reviews" class="nav-link link line" href="/manager/opentender">Open Tender</a>
                      </li>
                      <li class="nav-item">
                        <a data-menuanchor="reviews" class="nav-link link line" href="/manager/tender/details">Tender Details</a>
                    </li>
                    <li class="nav-item">
                        <a data-menuanchor="reviews" class="nav-link link line" href="/logout">Logout</a>
                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Nav-Bar -->
        <header id="home">
            <nav class="navbar navbar-light bg-light cursor-light d-md-none">
                <div class="my_nav_tog d-block d-md-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <div class="broad">
                <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                <nav class="side-nav-menu">
  
                    <ul class="nav-menu nav-fill">
                      <li class="nav-item">
                        <a class="nav-link "  href="/manager">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/manager/addproducts">Add Products</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="/admin/purchaseorder">Purchase  Details</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link active" href="/manager/supdetails">Supplier Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/manager/proddetails">Product Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manager/opentender">Open Tender</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="/manager/tender/details">Tender Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout">Logout</a>
            </li>
                        
                    </ul>
                </nav>
            </div>
        </header>
    </div>
  </div>

  <div class="container my-5">
      <h1 class="my-5">Tender Details</h1>
      <div class="row">
        <div class="col-md-6">
            <h3>Tender Name: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_name%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Tender Name: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_name%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Start Time: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_opentime%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>End Time: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_closetime%></h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Created Time: </h3>
        </div>
          <div class="col-md-6">
              <h3><%=tender[0].t_created%></h3>
          </div>
      </div>
      <hr>
      <h2 class="my-5">PRODUCTS ASSOCIATED WITH THIS TENDER</h2>
      <div class="row my-5">
        <div class="col-md-6">
            <h3>PRODUCT NAME</h3>
        </div>
        <div class="col-md-6">
            <h3>PRODUCT MRP (In Rs)</h3>
        </div>
    </div>
     <% for(x in tender){%>
          <div class="row">
              <div class="col-md-6">
                  <h3><%=tender[x].p_name%></h3>
              </div>
              <div class="col-md-6">
                  <h3><%=tender[x].p_mrp%></h3>
              </div>
          </div>
      <%}%>
      <hr>
      <h2 class="my-5 text-center">SUPPLIERS PARTICIPATED</h2>
      <div class="row">
        <div class="col-md-6">
            <h3 class="d-block"> </h3>
        </div>
          <!-- <div class="col-md-6">
              <h3>SUPPLIER NAME</h3>
          </div> -->
      </div>
      <%let i=0;%>
      <%for(x in suppliers){%>
        <%if(suppliers[x].t_id){%>
            <div class="row my-3">
                <div class="col-md-6">
                    <h3><%=i+1%><%i+=1;%></h3>
                </div>
                  <div class="col-md-6">
                      <h3><%=suppliers[x].su_name%></h3>
                  </div>
              </div>
        <%}%>
    <%}%>
    <% if(i==0){%>
      <h1 class="my-5 text-center">
        NONE
      </h1>
     <%}%>
    <hr>
      <h2 class="my-5 text-center">SUPPLIERS NOT PARTICIPATED</h2>
      <div class="row">
        <div class="col-md-6">
            <h3 class="d-block"> </h3>
        </div>
          <!-- <div class="col-md-6">
              <h3>SUPPLIER NAME</h3>
          </div> -->
      </div>
      <%i=0;%>
      <%for(x in suppliers2){%>
        <%if(!suppliers2[x].t_id){%>
            <div class="row">
                <div class="col-md-6">
                    <h3><%=i+1%><%i+=1;%></h3>
                </div>
                  <div class="col-md-6">
                      <h3><%=suppliers2[x].su_name%></h3>
                  </div>
              </div>
        <%}%>
    <%}%>
   <% if(i==0){%>
     <h1 class="my-5 text-center">
       NONE
     </h1>
    <%}%>
  </div>


  <%- include("../partials/footer.ejs") %>