<%-include("../partials/header.ejs")%>
<div class="wrap_container cursor-light">
    <div class="main_container">
        <div class="side_nav">
            <div class="my-sticky-nav">
                <div class="side_menu">
                    <div id="my_tog" class="my_tog link" onmouseover="my_click();">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div>
                    </div>
                    <!-- Sticky Nav -->
                    <nav class="side-nav-menu">
                        <ul class="nav-menu nav-fill" id="menu">
                            <li class="nav-item">
                                <a data-menuanchor="home-banner" class="nav-link link active line"  href="/manager">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a data-menuanchor="all-products" class="nav-link link line" href="/manager/addproducts">Add Products</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a data-menuanchor="reviews" class="nav-link link line" href="/admin/purchaseorder">Purchase  Details</a>
                            </li> -->
                            <li class="nav-item">
                              <a data-menuanchor="reviews" class="nav-link link line" href="/manager/supdetails">Supplier Details</a>
                          </li>
                          <li class="nav-item">
                            <a data-menuanchor="reviews" class="nav-link link line" href="/manager/proddetails">Product Details</a>
                        </li>
                        <li class="nav-item">
                          <a data-menuanchor="reviews" class="nav-link link line" href="/manager/opentender">Open Tender</a>
                      </li>
                      <li class="nav-item">
                        <a data-menuanchor="reviews" class="nav-link link line" href="/manager/tender/details">Tender Details</a>
                    </li>
                    <li class="nav-item">
                        <a data-menuanchor="reviews" class="nav-link link line" href="/logout">Logout</a>
                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Nav-Bar -->
        <header id="home">
            <nav class="navbar navbar-light bg-light cursor-light d-md-none">
                <div class="my_nav_tog d-block d-md-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <div class="broad">
                <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                <nav class="side-nav-menu">
  
                    <ul class="nav-menu nav-fill">
                      <li class="nav-item">
                        <a class="nav-link "  href="/manager">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/manager/addproducts">Add Products</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="/admin/purchaseorder">Purchase  Details</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link active" href="/manager/supdetails">Supplier Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/manager/proddetails">Product Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manager/opentender">Open Tender</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="/manager/tender/details">Tender Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout">Logout</a>
            </li>
                        
                    </ul>
                </nav>
            </div>
        </header>
    </div>
  </div>

<div class="container">
    <h1 class="text-center my-4">MODIFY SUPPLIER</h1>
    <hr>
    <form action="/manager/supdetails/<%=supplier[0].su_id%>/modify?_method=patch" method="post">
    <div class="container">
      <div class="row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%=supplier[0].su_name%>">
          </div>
          <div class="form-group col-md-6">
        <label for="mobileno">MobileNo</label>
        <input type="text" class="form-control" id="mobileno" name="mobileno" value="<%=supplier[0].su_mobileno%>">
      </div>
      </div>
      <div class="row">
          <div class="form-group col-md-12">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" value="<%=supplier[0].su_email%>">
          </div>
      </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="address">address:</label>
        <input type="text" name="address" id="address" class="form-control" value="<%=supplier[0].su_address%>">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="u">Username:</label>
        <input type="text" name="username" id="u" class="form-control">
      </div>
      <div class="form-group col-md-12">
        <label for="p">Password:</label>
        <input type="password" name="password" id="p" class="form-control">
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-large btn-outline-success">Submit</button>
    </div>
  
    </div>
  
    </form>
    </div>


<%- include("../partials/footer.ejs") %>